style(type='text/css').
  @media(max-width:768px) {
    .e-mail-status {
      padding-left: 10px!important;
      padding-right: 10px!important;
    }
    .e-mail-status__content {
      padding-bottom: 30px!important;
      padding-left: 20px!important;
      padding-right: 20px!important;
      padding-top: 30px!important;
    }
    table.e-mail-status__top {
      display: block;
    }
    .e-mail-status__tbody {
      display: block;
    }
    .e-mail-status__tr {
      display: block;
    }
    .e-mail-status__left {
      display: block;
      padding-bottom: 10px!important;
    }
    .e-mail-status__right {
      display: block;
      text-align: left!important;
    }
    .e-mail-status__button {
      height: 38px!important;
      width: 200px!important;
    }
    .e-mail-status__message {
      font-size: 13px!important;
      margin-bottom: 30px!important;
      padding-left: 0;
      padding-right: 0;
    }
    .e-mail-status__head {
      font-size: 17px!important;
    }
    .e-mail-status__bottom-message {
      padding: 0 30px;
    }
  }